<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Constr" value="data source=test;user id =sa;password =1;persist security info = false;connection lifetime =10;enlist =true" />

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>